$font-size: 2rem;

.title {
    background-color: rgb(223, 126, 126);
    color: #fff;
    font-size: $font-size;
    text-align: center;
    padding: 1.5rem;
    font-family: 'Roboto'
}

.channel {
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0,0,0,0.2);
    margin: 1rem;
    padding: 2rem;
}

.channelImg {
    max-width: 25%;
}

.channelTitle {
    height: 4rem;
    padding: 1rem;
    font-size: 2rem;
}

.channelDescription {
    font-size: 1.6rem;
    text-align: justify;
}

.clipTitle {
    margin: 3rem;
    font-size: 2.5rem;
}

.clips {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    padding: 2rem;
}

.clip {
    max-width: 30rem;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(228, 220, 215);
    border-radius: 0.2rem;
    max-height: 30rem;
    overflow: hidden;
    color: black;
    text-decoration: none;
}
